body {
    background-color: #9bbc0f;
}

#tiledata {
    position: absolute;
    width: 30%;
    left: 2.5%;
    height: 90%;
    top: 5%;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#tilemap {
    position: absolute;
    width: 55%;
    left: 35%;
    height: 90%;
    top: 5%;
}

#tileeditor {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border: 2px solid black;
    background-color: white;
    visibility: hidden;
}

#editortools {
    position: absolute;
    width: 10%;
    height: 80%;
    top: 10%;
    left: 10%;
    border: 2px solid black;
}

.colourSelect {
    display: inline-block;
    width: 100%;
    height: 25%;
}

#white {
    background-color: #9bbc0f;
}

#light {
    background-color: #8bac0f;
}

#dark {
    background-color: #306230;
}

#black {
    background-color: #0f380f;
}

#editorcanvas {
    position: absolute;
    width: 60%;
    height: 80%;
    top: 10%;
    left: 30%;
}

#tilehex {
    position: absolute;
    bottom: 5px;
    left: 10%;
    width: 80%;
    text-align: center;
}

#canvasbuttons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

#controls {
    position: absolute;
    width: 10%;
    left: 87.5%;
    height: 90%;
    top: 5%;
    border: 2px solid black;
    text-align: center;
}

#controls button {
    margin-bottom: 5px;
}

hr {
    border-color: black;
}